section[data-v-4a5bcbc8]{display:grid;gap:calc(var(--main-distance)/2);padding:var(--main-distance);position:relative}.large-title[data-v-4a5bcbc8]{margin-top:0}.text[data-v-4a5bcbc8]{text-indent:var(--main-distance)}
