section[data-v-b03a6f63]{display:grid;gap:var(--main-distance);padding:var(--main-distance);position:relative}.large-title[data-v-b03a6f63]{margin-top:0}.text[data-v-b03a6f63]{text-indent:var(--main-distance)}
